section{
    background:#076BB6 url(../img/login/bg.jpg) no-repeat 120px 100px;
    margin-top:-45px;
    height:500px;
    position:relative;
}
.hidden{
    opacity:0;
}
section:before{
    content:"";
    display: table;
}
#biaodan{
    width:400px;
    height:400px;
    border:3px solid #d9d9d9;;
    border-top:#ff4647;
    background:#fff;
    position: absolute;
    right:100px;
    top:50px;
    padding:50px 25px 50px 25px;
}
.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#biaodan div.flex img{
    width:40px;
    padding:3px;
    background:#ff4647;
}
#uname,#upwd{
    height:40px;
    width:300px;
    border:2px solid #ff4647;
    padding-left:4px;
    outline: none;
    
}
#biaodan p{
   margin:20px 0px 10px 0px;
   font-size:0.7rem;
   
}
.flex span{
    font-size:0.8rem;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-bottom:15px;
   margin-top:15px;
}
.button a{
    display:block;
    width:120px;
    height:38px;
    line-height: 38px;
    color:#fff;
    text-align: center;
   
}
.button a.submit{
    background:#ff4747;;
}
.button a.submit:hover{
    background:#e71204;;
}
.button a.register{
   
    color:#555;
    background: #ededed;
    border: 1px solid #c5c4c4;
}
.button a.register:hover{
    background:#c5c4c4;
    color:#fff;
}
.otherSigin{
    display: flex;
    align-items: center;
    margin-top:1rem;
    border-top:2px solid #eee;
    padding-top:0.8rem;
    
}
.otherSigin img:nth-child(1){
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-right:10px;
}
.otherSigin img:nth-child(2){
    width:38px;
    height:38px;
    border-radius: 50%;
}
img.d1{
    padding:6px;
    background:#2c93cf;
}
#isPass{
    color:red;
}